[2015-03-27 14:22] blackburn1911 opened #2 "I can't save metas in the last version of the Laravel"
Hey, I can't save metas when I use below code but I can update.
$post = Post::find(1);
$post->setMeta('web', 'google.ro'); OR $post->web = 'google.ro';
$post->save();

[2015-03-27 14:34] kodeine commented on #2
@blackburn1911, please paste your post model code to look further.

[2015-03-27 14:51] blackburn1911 commented on #2
[code]

[2015-03-27 14:58] blackburn1911 commented on #2
I think it's a problem with the saved event

[code]

[2015-03-27 14:59] kodeine commented on #2
@blackburn1911

If `setMeta()` function doesnt save then it must be observer.

if saving via property doesnt work,
Can you comment out `PresentableTrait` and just leave `Metable` and try?

[2015-03-27 15:12] blackburn1911 commented on #2
Same problem hmm..

I use this code for insert:
[code]

[2015-03-27 15:17] kodeine commented on #2
@blackburn1911,
$post->image is a meta right?

give me few hours and ill try to find the problem.

[2015-03-27 15:19] blackburn1911 commented on #2
Yes. I don't have image column in posts table. I want to save image to metas table.

[2015-03-27 15:23] kodeine commented on #2
@blackburn1911 okay few hours, ill get back to you.

[2015-03-27 15:23] blackburn1911 commented on #2
Ok :+1:

[2015-03-28 04:29] kodeine commented on #2
@blackburn1911
Please try now, i've pushed some changes.

[2015-03-28 13:07] blackburn1911 commented on #2
Yee, it works. Now I can use $post->image = 'image for meta'; and $post->setMeta('image', 'image for meta') for save and update, but I can't use
[code]
He gives me this error:
[code]

[2015-03-28 15:32] kodeine commented on #2
@blackburn1911
Please try now, i've pushed a fix :)

[2015-03-28 15:54] blackburn1911 commented on #2
It works. Thanks you! :heart:

[2015-03-28 16:57] kodeine commented on #2
Glad it works :)

[2015-03-28 16:57] #2 closed

[2015-03-30 16:35] blackburn1911 opened #3 "A new problem, I think"
Hi again,

This time, I want to add posts with metas. How can I attach metas to a new post? Or this package is just for update, because I can create a Model just for Metas or I can update metas when I add a new post, in same query.

[2015-03-30 20:12] ray1618 opened #4 "Use Models attributes"
I have a Item model and I want to add a new Item to it in the database.
When I try to create an attribute within the model it will be added as Meta attribute.
My model contains an 'title' colmn in the database

// when I create a new item it will store 'title' as  meta data and leave the 'title' in my model empty
$item = new Item;
$item->title = 'Blaat2';
$item->save();

result : title will be add

[2015-03-30 21:23] blackburn1911 commented on #4
Hey,

You can create something like:
[code]
metas will be ```html <input type="text" name="metas[meta_title]">```

[2015-03-31 07:14] ray1618 commented on #4
But I don't want to store it in meta, I want to store it in the 'title' of the Item model itself

[2015-03-31 07:35] blackburn1911 commented on #4
Uhh, my mistake. It's a problem in package or it's not implemented this option.

[2015-03-31 08:41] blackburn1911 commented on #4
I sent a pull request with solved problem.

[2015-03-31 10:26] ray1618 commented on #4
Awesome thx.  I will check it out later tonight.

[2015-03-31 19:38] ray1618 commented on #4
When I was checkin your pull  request I saw that in the original __set() method that the orgininal hasColumn check was commented out @ line 326.
I uncommented this & put a pull request for this.
Thanx for the help @blackburn1911, the problem is fixed now :)

[2015-03-31 19:38] #4 closed

[2015-03-31 21:22] kodeine commented on #3
@blackburn1911 this problem is fixed by your pull request right?

[2015-03-31 21:34] blackburn1911 commented on #3
This problem has been solved with this pull https://github.com/kodeine/laravel-meta/pull/6

[2015-04-03 04:56] #3 closed

[2015-04-17 10:47] FourStacks opened #7 "Get meta where key contains"
First up, thanks very much for taking the time to develop and release this package - just started using it but it's looking like a very useful tool indeed.

I was wondering if you had any plans to include a method that would allow a query to get all meta for an entity where the key contains a certain string?  Not sure if this might be considered a bit 'edgy' but I've run into a situation where I n

[2015-04-17 15:41] kodeine commented on #7
@fourstacks

I was planning to add that feature myself but didn't get enough time to play with it.  Though there is a function which I didn't put in documentation yet

public function whereMeta($key, $value)

Maybe this can help or feel free to propose pr.

[2015-04-17 15:48] FourStacks commented on #7
I noticed that method this afternoon when I started integrating the trait.  Could be a useful starting point for what I'm after.  Will report back if I come up with anything useful.

Thanks again - awesome work!

[2015-04-17 15:59] kodeine commented on #7
@FourStacks

That was just a simple test function, but i was thinking to take it another level by extending query builder and then where(), limit() etc all methods will come into play with meta.

You're welcome :)

[2015-09-09 21:19] Zyles opened #9 "Undefined property: App\Models\User::$metaData"
Hi,

Using your package for my meta data which works great. However I run into issues when I try to add more traits and stuff to my user model.

This is my setup:

- User model with your Metable added (works as expected)
- A trait called AccountBalance which I added after yours which consists of:

[code]

- My controller which is called from my route:
[code]

This results in the error
[code]

I ca

[2015-09-09 22:41] Zyles commented on #9
Nevermind. I refactored my code and got it working now.

[2015-09-09 22:41] #9 closed

[2015-09-11 15:38] #7 closed

[2015-09-13 06:49] darylphuah opened #10 "Support for 4.2 dropped?"
Hey there

The recent update removed laravel 4.2 support, is there a change in the code that requires laravel 5.0/5.1? From what I can see, there doesn't seem to a reason to exclude 4.2, but I may be mistaken.

[2015-09-13 11:00] kodeine commented on #10
@darylphuah
Ill put 4.2 back shortly.

[2015-10-08 20:56] SUKOHI commented on #10
Please put the old version for Lavel 4.2 because now composer refuse to update all of the other packages due to laravel-meta.
Thank you in advance.

[2015-11-13 19:46] mouhsinelonly opened #14 "cant use metable with other packages"
when trying to use metable with laravel-stapler package i get a collision of method getattribute and i have to disable laravel-meta or laravel-stapler in order for one of them to work.

[2015-11-13 19:52] kodeine commented on #14
@mouhsinelonly
I will take a look and let you know.

[2015-12-20 23:18] sumityadav opened #15 "Tag Package"
Can you add a tag if the package is stable for use?

Thanks

[2015-12-21 01:03] kodeine commented on #15
@sumityadav sure will do.
yes its stable

[2015-12-23 17:57] devfelipereis opened #17 "Meta is always fetch from database"
Hello!

For example: I have a list of 10 movies and these movies have some metas. So, when a get all these movies, I have notice that 10 queries where executed to get all metas for each movie.
In a situation where I don't need these metas, I have this queries in the same way.

So, is there any way to not get all that data automatically? Cause I have a situation where I count some data and I don't

[2016-03-15 20:35] kmccarth commented on #17
@devfelipereis I am having the same issue. I tried adding "meta" as a hidden field to the main model, but that didn't work.

[2016-03-16 19:13] kmccarth commented on #17
@devfelipereis quick update...I didn't want the meta_data attribute returning at all, so I copy-and-pasted this function from Metable (https://github.com/kodeine/laravel-meta/blob/master/src/Kodeine/Metable/Metable.php#L252) and dropped it in my model.

Instead of that function, my model contains a function like this:`  public function toArray()
  {
      return parent::toArray();
  }`

Obviously,

[2016-03-17 14:01] devfelipereis commented on #17
@kmccarth I'll try this later and also try a conditional to get all metas when I want it. Thanks for your help.

[2016-03-23 13:16] larbous opened #18 "Different types"
I realized that even though we created a meta da as Integer, the database appears as String.
I do not think a problem, but you think about upgrading?

[2016-03-23 15:19] kodeine commented on #18
@lsobral
it can take me a week to upgrade. If you want, feel free to send a PR.

[2016-03-23 15:20] kodeine commented on #17
@devfelipereis i will think on how we can implement it in a package as well.

[2016-03-24 12:17] lsobral commented on #18
Dont worry about it. I would like helping, but I dont know how to make PR's.
Thank you.

[2016-03-27 16:40] todiadiyatmo opened #21 "`getMeta` function parameter"
Hi ,
In the readme it states the `getMeta` function accept meta key params and default value.

[code]

But on the code i check that the params is `key` and `raw`, is this the intended behaviour ?  using `raw` = `true` will return the meta as json

[2016-04-04 18:03] devfelipereis opened #22 "scopeMeta doesn't work with tables with custom names"
Hello guys!

See scopeMeta

[code]

**$this->table.'_meta'** will assume that your meta table has "**meta**" in the name. In my case, my table is called "users_data", then this method will fail.

I just rewrite the function in my model and it's working fine now but I think that it should be fixed to work with tables that doesn't follow that pattern.

I'm posting this issue cause this package allow

[2016-04-15 18:42] devfelipereis opened #23 "Isset not working"

[2016-04-15 20:33] #23 closed

[2016-05-26 23:29] VickG opened #24 "Following instructions but getting error"
Trait 'Kodeine\Metable\Metable' not found

Here is my model:

[code]

Please any advice is appreciated

[2016-06-01 00:01] VickG commented on #24
had issues with my composer update so I was missing the library. I am closing this ticket.

[2016-06-01 00:01] #24 closed

[2016-08-08 15:31] mheiduk opened #25 "Laravel 5.3 support"
Hi,

I have upgraded from Laravel 5.2 to 5.3 and Laravel Meta stopped working. I have tested it on a fresh 5.3 installation and there is the same problem. On a fresh 5.2 installation everything works fine. There is no error notification, it just shows me the boolean false after saving and it doesn't save.

Anyone a solution for this problem?

Thanks!

best,
Marc

[2016-08-08 15:44] Superanton commented on #25
+1

[2016-10-14 13:22] dneykov commented on #17
Any plans for this implementation soon?
Thanks.

[2016-10-15 05:09] kodeine commented on #17
@devfelipereis i'll try to work on it next week. It should be easier, just need to add Cache::Remember in few places.

[2016-10-18 08:53] Himalayjp opened #26 "Not working with model events"
If you are using laravel events https://laravel.com/docs/5.2/eloquent#events with metable in model, While creating or updating the record model event is executing twice as metable is updating the record with metafield once the record has been saved using model eloquent..

[2016-11-15 08:01] dneykov commented on #17
Still waiting on that update. Any progress? Thanks.

[2017-01-26 17:15] tmaly1980 opened #27 "Can't save meta with factory builder/seeder"
If I create a table seeder for a table that uses metable, the meta columns don't get translated into key/value pairs on the related table. For example:

In database/factories/ModelFactory.php:

[code]

If I were to call (via artisan tinker): factory(App\Models\Business::class,10)->create(), I get this error:

What I have to do instead as a workaround, is setting the meta data into a separate facto

[2017-02-08 06:44] moyus opened #28 "Need Eager Loading support"

[2017-04-12 14:03] darkhouse commented on #28
It's a real shame eager loading isn't supported. Otherwise this is a brilliant package. Any plans for eager loading support in the near future?

[2017-04-12 15:40] kodeine commented on #28
@darkhouse PR's are welcome if you add that earlier than me :)

[2017-04-12 15:42] kodeine commented on #25
@mheiduk i'll update the package asap. if you have a pr, please submit it.

[2017-04-12 16:10] darkhouse commented on #28
Yep. I was just curious if you were planning on handling this any time soon before I went ahead and forked it. If you're already working on it, no point in me duplicating work.

[2017-04-12 16:13] kodeine commented on #28
@darkhouse it will take me some time to update, you can go ahead if you have time.

[2017-04-13 13:14] darkhouse commented on #28
Myself and a colleague have been tinkering and we may have a decent solution. Needs more testing though.

[2017-04-22 14:54] bloggervista commented on #28
@darkhouse  Please PR it . Even the author make it your idea can be great :)

[2017-04-23 18:04] eswinfen opened #29 "scopeMeta should use $this->getTable() instead of $this->table"
The scopeMeta function uses the table member $this->table, which is only set if there is an explicit override of the table name on a model. Instead it should use the $this->getTable() method and getQualifiedKeyName() method.

If the scopeMeta method is altered as follows it should work in all cases:

[code]

[2017-04-24 04:13] kodeine commented on #28
@darkhouse any updates?

[2017-04-25 15:36] bloggervista commented on #28
@kodiene i guess you need to make it :) Even if he makes you can choose which is best. As i am using your package eager loading has become necessary.

[2017-04-25 15:38] darkhouse commented on #28
Sorry for the radio silence. We've been pulled away from this part of the project. I will try and put some time in soon.

[2017-05-11 12:21] lsobral opened #30 "Delete on cascade"
When I delete a parent record, will the meta records also be deleted?

[2017-05-16 17:07] lsobral commented on #30
Yes. It worked

[2017-05-16 17:07] #30 closed

[2017-05-30 10:40] bloggervista commented on #28
@darkhouse  i think you are not going to update if you have idea then tell me? were you gies planning to modify builder objects???

[2017-05-30 12:50] darkhouse commented on #28
@bloggervista checkout this fork/commit https://github.com/AoumiS/laravel-meta/commit/a8daf096e9740308cbdd780f6b7c99bdc6e94736

This is my colleague's fork. We were playing around with this, but I think we ran into some trouble with it. Maybe you can take it from there.

[2017-07-10 15:48] tmaly1980 opened #31 "Simplifying querying meta"
Instead of:

[code]

It would be really helpful/nice to have something like this:

`
$post = Post::whereMeta(['revision'=>'draft'])
`

[2017-07-19 05:58] kodeine commented on #31
@tmaly1980 i'd be happy to merge the PR if you can on this.

[2017-07-19 05:59] kodeine commented on #29
@eswinfen can you please propose a PR for this?

[2017-08-07 03:56] hthuong09 opened #32 "For some reasons, the model try to save metaLoaded and metaData when I try to save my model"
When I try to save my model with this:

[code]
I get this error:

[code]

[2017-08-11 08:18] hthuong09 commented on #32
Problem solved.

The error occurs  because I write a custom __set magic function instead of using Mutators

[2017-08-11 08:18] #32 closed

[2017-08-28 16:10] dhcmega opened #33 "Auditing"
Hi! Should I be able to use a trait in a Meta model? I would like to audit changes:

http://www.laravel-auditing.com/docs/4.1/getting-audits

I think there is no model, so not sure I will be able to add a trait for meta queries.

Thanks!

[2017-10-11 10:24] eithed commented on #27
While I've had the same issue, I don't have separate *Meta classes - I've gotten around doing it this way:

**SupplierFactory.php**
[code]

**SuppliersTableSeeder.php**
[code]

As you can see, saving of metadata can't be done in the same step as creating given Model, but instead we have to utilize `setMeta` function and update the Model we have created.

[2017-10-20 22:31] thequiet commented on #28
@darkhouse What problems were you running into? I was able to use the commit, but only after adding `use Illuminate\Database\Eloquent\Relations\HasMany;` to the updated Metable.php. Didn't test extensively, but the eager loading seemed to work just fine.

[2017-10-30 01:58] rimthong commented on #28
👍 @thequiet, I forked @darkhouse 's repo, patched the missing requirement and using my repo through composer and everything looks fine. Should I make a PR?

[2017-10-30 04:40] kodeine commented on #28
@rimthong @thequiet @darkhouse please post the PR and i'll update it.

Thanks

[2017-10-30 16:43] thequiet commented on #28
@kodeine @rimthong @darkhouse - much appreciated.

[2017-11-09 15:58] kodeine commented on #28
@rimthong @darkhouse @thequiet
please upgrade and let me know if it fixes this issue.

[2017-11-09 15:59] darkhouse commented on #28
Hey thanks for the update. Sorry about the long silence. Been away from this for some time. Excited to try this out though.

[2017-11-09 21:20] rimthong commented on #28
Yup, looking good :) thanks!

[2017-11-09 22:02] hamdallah90 opened #36 "What about arabic metadata?"
Plaese, if you can fixed this

Thanks

[2017-11-09 22:10] plivius commented on #28
@kodeine @rimthong @darkhouse @thequiet
I happened to run into a similar eager-loading issue and thought I'd share my findings with anyone running into this as well:

Consider a query on metable-model "Role" in a nested m2m-relation, e.g. `User <=> Roles => RoleMetas`, and observe that the way (temporary) pivot-attributes are unset here:
https://github.com/illuminate/database/blob/master/Eloquent/

[2017-11-10 04:34] thequiet commented on #28
@kodeine, I was using a fork with eager-loading, switched to your upgraded version and everything still works perfectly. Thanks for the merge and this wonderful code, much appreciated.

[2017-11-10 07:41] dneykov opened #37 "Eager loading problem"
Hi,
after updating to the latest version of this package I'm trying to use eager loading method but when I use it the meta data is selected twice. I'm using debugbar to check the queries.

Here is snippet of debugbar:

![screen shot 2017-11-10 at 9 38 15 am](https://user-images.githubusercontent.com/5511034/32647671-1eb6f792-c5fb-11e7-9687-aabe456286ef.png)

[2017-11-10 07:44] kodeine commented on #37
@vortechron @rimthong can you please take a look at this.

[2017-11-10 07:46] kodeine commented on #29
@necenzurat can you please post a PR as well?

Thanks

[2017-11-10 07:48] kodeine commented on #28
@plivius is this related to #37?

[2017-11-10 09:40] plivius commented on #28
@kodeine Exactly that! I'll follow up in that thread with a proposed workaround

[2017-11-10 09:47] plivius commented on #37
@dneykov Are the models in your snippet being queried via a m2m relation (BelongsToMany)?

[2017-11-10 09:53] dneykov opened #38 "Unnecessary where clause on collection"
I think this where can be removed because the relationship method already gets model specific meta.
I get problem with that where because depending on the environment returned collection fields which must be int (e.g foreign key) are casted to string and this where returns null.

https://github.com/kodeine/laravel-meta/blob/70d02d9f5adc5422738bba8b1955e0f4c597d1ab/src/Kodeine/Metable/Metable.php#L

[2017-11-10 09:55] dneykov commented on #37
@plivius yes, I'm selecting specific role and getting all users for that row.
[code]

`users()` method is `belongsToMany` relation

[2017-11-10 12:39] vortechron commented on #37
current eager loading only support hasMany

[2017-11-10 12:45] dneykov commented on #37
@vortechron `belongsToMany ` relation is between `Role::class` and  `User::class`
When I try to eager load `metas()` relationship they are loaded twice.

[2017-11-10 12:49] plivius commented on #37
@dneykov @vortechron
I ran into the exact same problem when querying a BelongsToMany-relation: The pivot-attributes which are "set" and "unset" by Eloquent trigger an unwanted "unset" on each of your metable models resulting in mentioned N+1 problem (also see https://github.com/kodeine/laravel-meta/issues/28#issuecomment-343308147).

I implemented a workaround for this: https://github.com/plivius/

[2017-11-10 14:35] necenzurat commented on #29
due to the lack of inactivity, I thought you where dead and [made a fork](https://github.com/necenzurat/eloquent-meta/)

[2017-11-10 15:43] dneykov commented on #37
@plivius I just test your workaround and it's working.

[2017-11-10 16:47] kodeine commented on #37
@plivius yes please post PR. thanks in advance :)

[2017-11-10 17:35] plivius commented on #37
@kodeine Ok!
@dneykov Nice! Observe that the only (minor) drawback of this solution is, that unsetting meta keys prefixed with `pivot_` now becomes slightly compromised:
[code]

[2017-11-10 19:11] kodeine commented on #38
@dneykov can you please post a PR and making sure it has a backwards compatibility and does not crash previous releases?

[2017-11-10 19:41] dneykov commented on #38
@kodeine If I find some time these days I will post a PR.
About backwards compatibility I don't think it's going to crash. Previous releases are using `getModelStub()` which returns Eloquent model and where clause will work without problem there.

[2017-11-28 15:11] wigogeoffrey opened #40 "Can't retrieve with eager loading"
Hi guys,

I'm trying to use the eager load in my laravel project. I have a Term table with his meta table.
When i do this :

`$terms = Term::with(['metas'])->get();`

I have an error which is saying that the relationship "metas" doesn't exist. Which is true because i dont have a function "metas" in my model. But i don't know what to put inside this function "metas".

Can you help me ?
Thanks

[2017-12-14 22:38] dhcmega commented on #21
I have the same question. I think the readme is wrong.

[2018-01-17 15:49] shmuelgutman commented on #29
+1
I get `Base table or view not found`

[2018-01-17 18:41] kodeine commented on #29
@necenzurat please post a PR and i'll merge it right away

[2018-01-17 19:34] necenzurat commented on #29
@kodeine no, i cannot, because i did not Github Fork your repo.

[2018-01-17 20:20] kodeine commented on #29
fixed.

[2018-01-17 20:20] #29 closed

[2018-01-21 14:02] pridit opened #41 "Scope is no longer using meta table"
The b65ca6b7d65441ccbfa85ed3206cb97e2a38afea commit has caused the scope to no longer select the meta table. As a result I have any queries trying to join in on itself causing major issues. I don't see anything different in the documentation that I am not using in the model.

Can this please be resolved/reverted, or is there a different implementation I am missing to restore this to a working stat

[2018-02-07 19:53] kodeine commented on #41
Thanks, its merged.

[2018-02-07 19:53] #41 closed

[2018-02-07 19:53] kodeine commented on #37
thanks, its merged!

[2018-02-07 19:53] #37 closed

[2018-02-07 19:54] #28 closed

[2018-02-07 19:54] kodeine commented on #25
it supports latest laravel.

[2018-02-07 19:54] #25 closed

[2018-03-08 01:35] dhcmega commented on #17
Hi, has this ever been implemented? is there a solution for this situation? thanks!
maybe a "withoutMetas" method?

[2018-03-28 01:09] ERROPiX opened #43 "What's the purpose of "type" in the table schema?"
What's the purpose of "type" in the table schema?
I think it's better to handle this as WordPress do, without fixing the type of the value

[2018-03-28 07:30] userabuser commented on #43
The purpose of the `type` column in your `*_meta` table is to describe the type of content being stored prior to serialisation/encoding/transformation so that when you retrieve the meta data, you get back the content in which you stored in the format in which you supplied it.

For instance if you store a DateTime object, it will store the resulting object as a string, but upon retrieval it will re

[2018-03-28 13:02] ERROPiX commented on #43
Ok, What's the maximum length, do it really need to be varchar(255) ?

[2018-03-28 13:39] userabuser commented on #43
Unlikely needs to be 255... the longest type names are `datetime` and `in_array`. Theoretically that does not prevent you from adding your own types that perform different unpacking, but that is more of a special case than the norm.

[2018-03-28 13:43] ERROPiX commented on #43
Ok, I didn't tried to see what types are in the db, but what will be the strings if I passed an object instance of a class with long name name space like \Some\Very\Long\Name\Space\Provider\Class?

will it store the full class path and recreate the object upon retrieval?

[2018-03-28 19:58] ERROPiX commented on #17
@dhcmega @dneykov I have just tested this package today, and I confirm it doesn't query for meta data if you don't use any, but as soon as you request a meta it will load them all in one query, so it's already done

The issue I discovered is is that it query meta table like this
`select * from `users_meta` where `user_id` = '1' and `user_id` is not null`
while I think it should do just like this:

[2018-03-28 20:25] kodeine commented on #17
@ERROPiX can you share screenshot of sql?

[2018-03-28 21:00] ERROPiX commented on #17
Of course, but it adds nothing to what I said in the text anyway:
![metable](https://user-images.githubusercontent.com/6576868/38056070-4b65c3d2-32d3-11e8-8956-53a185e4170c.png)
FYI, I am using Laravel 5.6

[2018-03-29 05:12] userabuser commented on #43
As per: https://github.com/kodeine/laravel-meta/blob/25823cd786e0ea1b6b5f34a10cb74e96ff2c6955/src/Kodeine/Metable/MetaData.php#L52

If it is an Eloquent model, it is stored as a string in either format,

- Class Name
- Class Name + Hash Symbol +  Model getKey() value
- On retrieval, you will get back an instance of your model

If it is an object other than an Eloquent Model,

- it is JSON encoded.

[2018-03-29 13:06] ERROPiX commented on #43
Ok, I close this as it's not an issue

[2018-03-29 13:06] #43 closed

[2018-04-06 01:11] marklawntalk opened #44 "Option to disable assignment statement that triggers multiple column checks"
The issue is It checks the the model's table column  everytime we assign a model property value.

Can we have an option to disable this feature and just rely on the setMeta function?

[2018-05-04 19:20] benyanke opened #45 "Feature Request: Default Values"
Currently, I have a situation where I need to note if a user is, for example, out sick for the day.

Of course, the logical way to store this using this plugin would be to only store rows for sick users (since any individual user would rarely be sick). This allows us to reduce DB bloat.

However, to do this, I have to write custom mutators and accessors which will unset the row if the meta value i

[2018-05-28 11:57] IfnotFr opened #47 "Could not name meta values beginning with "meta""
Hi,

I recently figured out that the package refuses storing meta beginning with `meta`. It looks that it resolve problematic internal variables saving (https://github.com/kodeine/laravel-meta/blob/master/src/Kodeine/Metable/Metable.php#L339).

But it as this package allows fluent declaration, it could be interesting to allows the `meta` prefix (example : `$model->meta_my_variable`). I allows us t

[2018-06-24 22:48] dhcmega opened #49 "whereMeta should be static"
Hi!
I think whereMeta should be static, so you can do something like:

`
$posts = Post::whereMeta($key, $value);
`

[code]

Thanks!

[2018-07-05 19:13] dhcmega commented on #17
@ERROPiX the "is not null" is added by laravel, there is a bug related: https://github.com/laravel/framework/commit/1e80162e9a3a4c42a0079bd9f34e785197a66c07

[2018-07-26 03:56] kodeine commented on #45
This just adds more complexity for no reason.

[2018-07-26 04:03] benyanke commented on #45
...while also making the implementation far more DRY

Do you have a problem with the implementation or the concept?

If you dislike the concept, I'll gracefully bow out, but if you don't like the implementation, I'd be happy to chat more about it. I'm specifically using this package for values which are set to their default 80-90% of the time, so it makes things far simpler for my use.

[2018-07-27 14:41] dhcmega opened #51 "hot to query without metas?"
Hi
I want to count users by account:
`
$account->users->count()
`
but this is getting all the metas for each user, is there a "not eager" way?
thanks

[2018-08-02 14:31] dhcmega opened #53 "Is it possible to add an extra column or group metas?"
Hi
I have 2 type of metas, config metas and content metas.
I would like to create a CRUD for each one, but I will need to find a way to separate them. Maybe adding an extra column like `extra`.
Have someone faced this situation? Any ideas?
Thanks!

[2018-10-03 13:14] ahsankhatri opened #54 "Different branch or release for diff PHP version"
Since many of them are still using PHP < 7 and recent commit #52 made it for PHP 7 only, please add support for PHP 7 on a different branch so that no conflict shall occur.

My old project has 5.6 and i had to use `dev-master#d3b53b8464de55a4e7cdafd25c5000f74452c759` in my `composer.json` file

Thanks.

[2018-10-10 11:50] ugurarici commented on #15
Tags would be great. Shows that it's a reliable package. I'm sure this way it also works but worry about future releases, for example you will update this package for Laravel 5.8 on "dev-master" but what if I want to go on with Laravel 5.5 ??

So, now I am afraid of add this useful package to my composer.json with "dev-master"

[2018-10-10 13:45] sumityadav commented on #15
Since there is no movement on the project, I suggest utilizing https://github.com/spatie/laravel-schemaless-attributes.

[2018-10-10 13:45] #15 closed

[2018-10-10 13:51] ugurarici commented on #15
Thanks @sumityadav
I know about spatie/laravel-schemaless-attributes but it requires MySQL 5.7 or higher.

We want to keep our projects to usable for most of the servers which comes with basic PHP, MySQL setup.
For example; we still keep some of our projects at Laravel 5.4 because Laravel requires PHP 7.* since 5.5 😕

[2018-11-05 15:55] dhcmega commented on #40
Hi
I have the same problem, have you solved it?

[2018-11-09 19:55] lrfahmi commented on #54
#55

[2018-11-09 19:56] lrfahmi commented on #54
I have fixed it so that it is still compatible with the old PHP version with this PR #55 . The problem is that PHP version 5 doesn't support if shorthand (?? operator).

I hope this helps.

[2018-11-09 20:02] lrfahmi commented on #54
I have fixed it so that it is still compatible with the old PHP version with this PR #55. The problem is that PHP version 5 doesn't support if shorthand (?? operator).

I hope this helps.
Closes #55

[2018-11-09 20:04] lrfahmi commented on #54
Closed #55

[2018-12-08 04:59] vinaykevadia commented on #14
The same problem with package Dimsav\Translatable, method getAttribute is getting colliding with the method from other package

[2018-12-11 14:33] paschaldev opened #57 "Is there a way to query multiple meta at once"
I tried this but its not getting the results I want

[code]

[2018-12-11 18:57] paschaldev commented on #57
Found a way out. Multiple joins was the answer with different names for the meta.

[2018-12-11 18:57] #57 closed

[2019-01-11 09:27] PayteR opened #59 "Possibility to disable fluent getters and setters"
Is there possibility to disable flutent getters and setters? I want to call meta explicitly with getMeta(), setMeta()

[2019-01-30 10:41] blajanadrian18 opened #60 "Save meta"
It is possible to save the meta with the created method?

[code]

[2019-03-05 19:00] dhcmega commented on #17
The problem is here:

[code]
it could be something like:

[code]

[2019-05-10 13:43] stephandesouza commented on #14
This is not a problem with Metable itself, but a Trait issue and needs a manual operation to rewrite `getAttribute`, please see: https://stackoverflow.com/a/25064632/405217

For more information: https://www.php.net/manual/en/language.oop5.traits.php#language.oop5.traits.conflict

[2019-07-22 15:26] bobmulder opened #63 "Update to Laravel Meta"
This library looks great, and a feature like this is definitely needed in Laravel. However, no commit has been done since 2 years ago.

What about updating this package to make it stable and ready for production for Laravel applications of these days?

[2019-07-22 15:28] kodeine commented on #63
It is stable, I'll add a tag

[2019-07-22 17:23] bobmulder commented on #63
Thank you for your response. However, I'd say the following things should be done:

- [ ] **must have**: an update to Laravel 5.8
- [ ] **must have**: whole package should be tested (till then the package is not stable)
- [ ] **optionally**: define a default migration
- [ ] **optionally**: artisan command to generate migrations for custom models (like `posts_meta`)

[2019-08-07 18:44] dhcmega commented on #51
bump

Hi, I cannot find a way to query without getting metas, is it possible?

Thanks

[2019-09-01 19:54] minulislam commented on #9
I am also facing this problem

https://imgur.com/a/jGJG1Bf

@Zyles
Man can you tell me the solution please?

[2019-09-02 14:21] Zyles commented on #9
I can't remember. I don't use this package anymore.

[2019-09-11 12:27] siamak2 opened #65 "laravel 6 support"
I can't update to laravel 6 because composer is telling me:
kodeine/laravel-meta dev-master requires illuminate/support ~5.0|~5.1
and tells me to remove this package or don't update to laravel 6

[2019-09-28 01:21] kodeine commented on #65
Please try again and let me know if the issue is resolved?

[2019-09-28 01:22] kodeine commented on #63
@bobmulder can you please send me a PR request? I'd be happy to merge that in.

[2019-09-28 01:22] kodeine commented on #59
you dont need to disable them, just use getMeta and setMeta?

[2019-09-28 01:23] kodeine commented on #53
@dhcmega were you able to implement that? do you mind sending a PR request for this feature?

[2019-09-28 01:24] kodeine commented on #49
Sounds good, can you please submit a PR?

[2019-09-28 02:09] benyanke commented on #45
Merged:

https://github.com/kodeine/laravel-meta/pull/46

[2019-09-28 02:09] #45 closed

[2019-09-28 10:29] siamak2 commented on #65
I'm still having problem.
I removed this package and upgraded to laravel 6.
then added this to composer.json:
"kodeine/laravel-meta": "master"
and run composer install and nothing happened. composer meesage:
Nothing to install or update
then I tried: composer require kodeine/laravel-meta:master
composer message:
Problem 1
    - Installation request for kodeine/laravel-meta master -> satisfiable by

[2019-09-28 10:43] siamak2 commented on #65
I guess this happens because package is not updated in packagist
https://packagist.org/packages/kodeine/laravel-meta
in packagist it's still doesn't support laravel 6

[2019-09-28 15:18] siamak2 commented on #65
I put:
"repositories": [
        {
            "type": "vcs",
            "url": "https://github.com/kodeine/laravel-meta"
        }
    ]
to composer.json and then run composer require kodeine/laravel-meta:master and installed without error.
you should add "laravel/helpers" package as dependency because I got error: "undefined function camel_case" and this function is now available at "laravel/he

[2019-10-01 02:47] dhcmega commented on #53
Hi, it will be my first PR. This week is a busy week for me, but I will try to do it next week. It will be good to help the community. Thanks!

[2019-10-03 06:55] bobmulder commented on #63
I'll think about it @kodeine, I need to make a decision about what library/implementation to use for meta data in Laravel. Not sure yet if I'll use (and contribute to) this library...

[2019-10-04 15:12] dhcmega commented on #49
Hi @kodeine , trying to do this now, I need some help if possible:
Changes:
[code]
to:
[code]

Problems:
1)
whereKey generates where id = x, not where key = x, how come?
`select * from `accounts_meta` where `accounts_meta`.`id` = 'some_key' and `value` = 5`
2)
getModelStub also should be static, so `$this->metaTable` should be static. But I cannot find how to populate it. The table attribute of th

[2019-10-04 15:14] dhcmega commented on #53
Hi @kodeine do you think that adding the JSON type to the rows would work? That would very simply allow to create a record with as many extra fields as needed with a decent search feature to use in sql queries, right?

[2019-11-24 00:18] Ladinstar opened #68 "I cannot use laravel-meta in laravel 6 ?"
![image](https://user-images.githubusercontent.com/22459993/69487304-c9466980-0e57-11ea-8bec-81750f064796.png)
I have install this package in my laravel 6 project.
Here is the model that i want to use for
`<?php

namespace App;

use Illuminate\Contracts\Auth\MustVerifyEmail;
use Illuminate\Notifications\Notifiable;
use Illuminate\Foundation\Auth\User as Authenticatable;
use App\Permissions\HasPerm

[2019-11-24 21:10] guney commented on #68
String helpers and the other ones are removed from the Laravel core repository and moved into [laravel/helpers](https://github.com/laravel/helpers) repository as a dependency. Simply run `composer require laravel/helpers` to let laravel-meta to continue using helpers like `camel_case`.

[2019-12-06 15:36] kevmul commented on #9
To anyone that finds themselves here, here is something you can try :)

My issue was because I was using a `leftJoin` on my Laravel model. Simply just changed this to use the Laravel eager loading to get the same result.

Code was
[code]

New Code is
[code]
Hope this helps!

[2019-12-15 15:40] thewebartisan7 opened #70 "setMeta() doesn't remove if set default value"
I notice that setMeta() doesn't remove record if we set default value.

[code]

I see that the check if is default value is only in __set() method, but not in setMeta(), this:

https://github.com/kodeine/laravel-meta/blob/master/src/Kodeine/Metable/Metable.php#L383-L391

So it's not an issue, I would like to know why this behaviour?

Thanks for this simple but powerful package!

[2019-12-15 16:41] thewebartisan7 opened #71 "__set() can also set guarded and not fillable attributes"
Below code in __set() method apart that make a query for each field when you create a new model, make fillable also guarded and not fillable attributes of the model:

[code]

I am not yet sure if below solution could be better for avoid this security break, since you can't anymore use something like:

`User::create($request->all())`

since also not fillable and guarded attributes are set.

This is

[2019-12-15 17:06] thewebartisan7 commented on #71
Same issue happen with code below:

[code]

line 382

And could be solved in the same way:

[code]

I am also not yet sure why this two similar check it's done.

I mean if attributes is checked here, and is found, not need to check if exist in database table that column. If Eloquent don't find it, it should not exists, I think?

[2020-02-04 17:10] #65 closed

[2020-02-19 15:02] dhcmega opened #72 "Why is meta querying the whole table?"
Hi
I'm using dev-master, reference: d75b7d86274eebe67eb2a8d305131bfac8dfba5e

Somehow a whole table select is being triggered which is slowing every request.

What I'm doing is using a relation, and the problem comes up when I call `$user->hidden_menu_options` which is a meta attribute.

[code]

I'm firing an exception if 'select * from `users_meta`' is ran.

[code]

[2020-03-27 15:56] dhcmega opened #73 "Laravel 7"
Hi! how can I install it with laravel 7? thanks!

[2020-03-31 03:44] eduardoarandah commented on #73
I took a quick look at the code and it looks fine for laravel 7, nothing mentioned in upgrade guide

https://laravel.com/docs/7.x/upgrade

I made the pull request:

https://github.com/kodeine/laravel-meta/pull/74

meanwhile, you can use my fork like this:

- in composer.json add a section "repositories" and then change version to "dev-master"

[code]

- remove composer.lock
- composer install

don

[2020-03-31 19:37] dhcmega commented on #73
@eduardoarandah Thank you very much for responding and helping!!

[2020-03-31 22:54] #72 closed

[2020-04-01 00:42] kodeine commented on #73
its merged! thanks guys.

[2020-04-01 00:42] #73 closed

[2020-04-12 13:22] dhcmega commented on #17
Hi!

I think this is the best way because when you are chaining you call toArray at the end, not all models will get the parameter.

[code]

[2020-04-12 15:55] kodeine commented on #17
@dhcmega can you please send a PR for proposed changes?

[2020-04-13 15:08] dhcmega commented on #17
HI @kodeine
Yes, I will test it this week and upload it.
Will be my first PR (letting you know, just in case)

[2020-05-05 15:12] #33 closed

[2020-06-29 14:04] ArthurShlain commented on #21
How to add default return value?

[2020-08-19 00:31] Matoto2 commented on #40
Hi, I have the same problem. Maybe someone knows how to solve this?

[2020-10-19 12:25] robeygo opened #77 "Unable to add to Laravel 8"
Hi guys,

Can this be added to a Laravel 8 app?

[2020-11-06 12:21] JonathanMurre commented on #77
#78 is merged, but it does not have a new version yet, so composer won't pick it up. Hope this small think will be resolved quickly.

[2020-11-06 12:58] siamak2 commented on #77
@JonathanMurre
I had the same problem when laravel 6 released: https://github.com/kodeine/laravel-meta/issues/65
my temporary solution was to add this to `composer.json` :
[code]
then run `composer update kodeine/laravel-meta` and composer will now load the package from github instead of packagist.
once the new version of laravel-meta released remove it from `composer.json`

[2020-11-07 17:01] kodeine commented on #77
siamak2, i've released the new version with those merges.

[2020-11-07 17:01] #77 closed

[2020-11-07 17:02] kodeine commented on #71
Hello,
can you please send a PR request and ill merge this in?

[2020-11-07 17:02] #68 closed

[2021-08-18 18:40] dhcmega opened #83 "whereMeta with table name"
Hi! I think that whereMeta trait should control that the column names "key" and "value" are properly prepended with table name to avoid any case of ambiguity:

`->where($this->getMetaTable() . '.key', '=', $key)->where($this->getMetaTable() . '.value', '=', $value)`

[code]

[2021-09-09 13:36] Temepest74 commented on #26
i get no update from the mete values :))) Now, when the updated event is called, my model has no meta fields filled.

[2021-09-09 14:46] kodeine commented on #26
Can you submit a PR?

[2021-09-09 15:34] Temepest74 commented on #26
After a lot of debuging, I found out that my problem had something to do with laravel... Idk how but I found a workaround.
My issue was: when I fire an event from the booted model function (static::saved) I will be able to assign the new value of the model to a global variable, but inside the broadcastWith function, I will not get the new value (but the old one). Idk what causes this, but if I dis

[2021-09-13 07:22] touqeershafi commented on #17
I also ran into the same problem? What is the solution, for now, to not call the meta query automatically?

[2021-09-13 11:40] dhcmega commented on #17
@touqeershafi
from the docs:

Prevent metas attribute from being populated
When you convert a model to an array (or json) and you don't need all meta fields, you can create a model's property to prevent metas from being added to the resulting array. You can also use it on eloquent relations.

[code]

[2021-09-24 20:16] Temepest74 opened #84 "How to filter via multiple meta values?"
Ok, i got the idea on how to filter via only one value, but how to do it on two?
From docs, this is how you filter on one value:
[code]

[2021-10-19 20:33] #84 closed

[2021-11-09 10:09] acip opened #85 "Choice of table for posts_meta and not models_meta?"
Hi!

I find it quite misleading in terms of naming for the table -`posts_meta`. Is any reason to have it like this and not something more general like `models_meta`?

[2021-11-17 21:02] goodevilgenius opened #86 "getMetaTable and getMetaKeyName should be public"
Since the eloquent functions `getTable` and `getKeyName` are public, the corresponding meta functions should also be.

This will make it easier to make meta queries outside of the model. Currently, this is impossible outside of the class context:

[code]

[2021-11-18 02:06] kodeine commented on #86
Can you submit PR?

[2021-11-19 16:16] goodevilgenius commented on #86
@kodeine Sure. That's a pretty simple change. I can submit one later today.

[2021-11-20 17:43] #86 closed

[2021-11-30 16:22] jumpstartcarrie opened #89 "Issues with accessors & mutators?"
I am unable to use accessors or mutators in a model class if I include the metable trait.  They either get ignored completely, or an error is returned from the metable class (because it checks if the property exists on the model or metadata table and throws an error if not).

I could probably extend the metable class and prevent the __get and __set methods from attempting to transform an attribute

[2021-11-30 17:28] kodeine commented on #89
Did you create the meta table needed?

[2021-12-01 08:55] jumpstartcarrie commented on #89
I did and it works as expected, it's just that a similar process exists between accessing or creating a property as metadata from a model and accessing or saving an attribute via accessors/mutators, so I wondered if there was a fix, or something I had missed to get the two to work together nicely.

[2022-02-14 10:34] coatesjonathan opened #91 "Support for Laravel 9"
Will there be support for laravel 9 anytime soon? I cannot seem to add this as a composer package due to an issue with illuminate/support versions not being supported

[2022-02-14 17:37] kodeine commented on #91
@coatesjonathan its good to go.

[2022-02-14 17:37] #91 closed

[2022-03-10 11:05] Temepest74 opened #92 "Testing issue"
During some tests, the saveMeta() function won't be called.

I think it is due to `self::$_isOververRegistered` being always true, and I really think this should not be the case because, during some tests, the function getListener (from vendor/laravel/framework/src/Illuminate/Events/Dispatcher.php line 248) won't return any listeners, but sometimes will.

If you need a demo project of this bug, I

[2022-03-11 02:27] kodeine commented on #92
@Temepest74 can you please submit the PR ?

[2022-03-11 04:03] Temepest74 commented on #92
Yeah, but it is a good idea to make the variable nonstatic? Whybit was static in the first place?

[2022-03-11 19:45] siamak2 commented on #92
static variable are declared only once in current session. we need to add only one event listener for saved event so static variable is the best way. if you make it non static the event listener will be registered for every model class you instantiate. for example if you get 1000 model from database and access to their metas then you have 1000 event listener for saved event and every one of them w

[2022-03-11 20:31] kodeine commented on #92
@siamak2 would you mind doing a PR, im not setup at the moment to make changes. And i agree with you of keeping it static.

[2022-03-11 22:46] #92 closed

[2022-03-12 08:18] Temepest74 commented on #92
Sorry guys, but my timezone didn't match with yours. Thank you @siamak2 , it solved my problem

[2022-06-02 09:25] siamak2 opened #94 "[suggestion] make new version to only support recent laravel versions"
Hi @kodeine
right now laravel-meta supports laravel 5.0 to 9.x but older versions are no longer supported by laravel. and kinda it's hard to add backward compatible features to laravel meta. one of these features is the new laravel Attribute accessor and mutator that only available on laravel 8.x and 9.x.
my suggestion is that you create a new branch called `2.x` or whatever you like and only supp

[2022-06-02 16:33] siamak2 commented on #94
I made some of the changes I mentioned in my forked repo. check it out:
https://github.com/siamak2/laravel-meta/tree/2.x
I didn't submit PR because:
1. it still needs some changes and haven't added the events yet
2. it's better if you create another branch and I submit PR to that branch

[2022-06-03 22:04] siamak2 commented on #94
I was reading README and I noticed this:
https://github.com/kodeine/laravel-meta/blob/15961bf2553d00c9103dd76547cb0217863b3252/README.md?plain=1#L239-L243

But second parameter of getMeta is called `$raw` and treated as boolean.
I wonder which one I should correct. README or the method?

[2022-06-03 22:48] kodeine commented on #94
Hello,

let me get back to you in an hour.

[2022-06-03 23:12] kodeine commented on #94
@siamak2 in regards to `getMeta()` second param should be a default value like in readme.
lets create a 2.0 branch will become master as well and we will move current master as 1.0.
The suggestions you mentioned are good, please submit the PR for it on 2.0 branch.

Thank you for your time and efforts in doing this.

[2022-06-04 07:00] siamak2 commented on #94
still one branch is available. maybe you forgot to push the new branch?
I believe that you shouldn't rename master branch. according to readme many have added the master branch to their project:
`"kodeine/laravel-meta": "master"`

and depend on that branch. since my PR is gonna have some backward incompatible changes, if any one runs `composer update` it will likely break their app. I will write u

[2022-06-05 00:01] siamak2 commented on #94
@kodeine
I added everything exept for the events.
I'll add events later.
I added changelog file. I think it's better if we add changes we make to that file
Now all I need is the new branch so I can submit PR to that branch

[2022-06-05 00:41] kodeine commented on #94
@siamak2 first of all, thank you very much for your contribution, really appreciate it.

I have pushed the branch 2.0 so you can make changes there.

Sure, ill keep master as is.

[2022-06-05 08:53] siamak2 commented on #94
@kodeine
In order to my pull request auto close issues I mention, branch 2.0 need to be default. if it's not default then github won't auto close issues.
You change default branch in repository setting -> Branches from left menu.
I'll submit PR in a few minutes.

[2022-06-05 09:52] siamak2 commented on #94
I submitted the PR https://github.com/kodeine/laravel-meta/pull/95

[2022-06-05 17:33] kodeine commented on #94
@siamak2 thanks a lot!, i've merged it, made default branch as 2.0.

[2022-06-05 18:19] #89 closed

[2022-06-05 18:20] #83 closed

[2022-06-05 18:20] #71 closed

[2022-06-05 18:20] #70 closed

[2022-06-05 18:20] #63 closed

[2022-06-05 18:22] #59 closed

[2022-06-05 18:22] #54 closed

[2022-06-05 18:22] #49 closed

[2022-06-05 18:22] #47 closed

[2022-06-05 18:22] #44 closed

[2022-06-05 18:22] #40 closed

[2022-06-05 18:22] #38 closed

[2022-06-05 18:22] #22 closed

[2022-06-05 18:22] #21 closed

[2022-06-05 18:22] #18 closed

[2022-06-05 18:23] #17 closed

[2022-06-05 18:23] #10 closed

[2022-06-05 21:23] siamak2 commented on #59
As of laravel meta 2, you can disable it by adding this to your model:
[code]

[2022-06-05 21:29] siamak2 commented on #85
Hi.
Each model has it's own meta table. for your `Post` model it's `posts_meta`, for your `User` model it's `users_meta`.
Of course you can use whatever name you like as long as you add it's name to your model:
[code]

[2022-06-05 21:29] #85 closed

[2022-06-05 21:37] siamak2 commented on #60
I tried to add this in version 2 but I had to override some of Laravel's methods and it would decrease Laravel's security. That why I decided to not implement this feature.
In `create` method Laravel  explicitly checks for table's columns, `$fillable` and `$guarded` properties to decide what to insert for security reasons.

[2022-06-05 21:37] #60 closed

[2022-06-09 03:34] #94 closed, assigned to nobody

[2022-06-20 13:53] vahidalvandi opened #98 "Can I have a schema ?"
hi
i have table and i want add same meta in meta table , but i need to user can create manully Her desired meta data . like form builder and in view data can see each meta with label and data saved to db

[2022-06-20 21:32] siamak2 commented on #98
Hi
You can get all metas using `getMeta()` method without any parameter. it's return value is a `Collection` of all metas where the key is name of the meta. so your view can look something like this:
[code]

[2022-06-20 21:32] #98 closed, assigned to nobody

[2022-06-20 21:36] vahidalvandi commented on #98
Thank you .
How I can manage them with simple ui . Or do you now standard  starter for build meta and forms?

[2022-06-20 21:42] siamak2 commented on #98
I don't know if any starter pack exists.
You need to create the ui yourself. just loop all metas like the example and add buttons for add new meta and delete this meta.

[2022-06-30 20:05] obrunopolo commented on #84
@Temepest74 could you post your solution? I'm struggling to achieve this.

[2022-06-30 20:46] obrunopolo commented on #84
In case someone stumble into this, here is a solution:

[code]

[2022-07-01 04:51] Temepest74 commented on #84
This is my solution, but it may work only with my fork of the plugin (I don't remember if I even used what I changed inside the source code).
[code]

Your solution looks cleaner so I think I will use it when I got time to refactor the code.

[2022-07-15 14:03] stefano-vergani opened #99 "Eloquent replicate with meta relationship"
Hi, seems eloquent replicate does not replicate meta relation.. I also eager loaded metas relationship.

[code]
Expected behavior: model in database is duplicated with some attributes changed and all metas are duplicated too.
Actual behavior: model in database is replicated but no meta saved.

[2022-07-15 14:48] siamak2 commented on #99
Hi
Laravel meta only uses `metas` relation once and then cache it into another property. By replicating it this cached property no longer exist and laravel meta fills this cache again from `metas` relation.
According to `replicate` [source code](https://github.com/laravel/framework/blob/51b5edaa2f8dfb0acb520ecb394706ade2200a35/src/Illuminate/Database/Eloquent/Model.php#L1616) it just sets current

[2022-07-15 14:48] #99 closed, assigned to nobody

[2022-09-08 23:11] f4llenz opened #100 "Meta exists in database but getMeta() returns an empty collection"
I'm having a weird issue where I set meta for my model inside a job so I can retrieve it from another job. It gets saved in the database, but it's not retrieved when using `getMeta()`.

I set the meta inside a job like so:

[code]

The meta exists:

[code]

However the package doesn't retrieve it with getMeta():
[code]

My `bots_meta` schema:

[code]

The `Bot` model has the `Metable` trait.

Weir

[2022-09-08 23:21] f4llenz commented on #100
Update: It works as expected after I disabled fluency by adding `protected bool $disableFluentMeta = true;` to my model.

[2022-09-10 10:00] siamak2 commented on #100
`protected bool $disableFluentMeta = true;` only affects fluent access like `$bot->needapproval` which you don't use it in this case. perhaps problem was from Postgres. I never worked with Postgres so I don't know how it works.
this package includes tests with sqlite and this scenario:
https://github.com/kodeine/laravel-meta/blob/ceeeb56c13d5e36ff89a9c8bd09894af0b5c1d08/tests/MetableTest.php#L223-

[2022-09-10 10:00] #100 closed, assigned to nobody